  
  
  <div class="all">
  <h3>Users lists</h3>
  <div class="table">
  
    <table class="table table-bordered" >
        <tr>
            <th>id</th>
            <th>name</th>
            <th>surname</th>
            <th>Email</th>
            <th>website</th>
        </tr >
        <tr *ngFor="let d of data" (contextmenu)="activation()">
            <td >{{d.id}}</td>
            <td >{{d.name}}</td>
            <td >{{d.username}}</td>
            <td >{{d.email}}</td>
            <td >{{d.website}}</td>
        </tr>

    </table>
    
  </div>


</div>



<p-contextMenu [global]="true" [model]="items1"></p-contextMenu>

<p-contextMenu [target]="data" [model]="items2"></p-contextMenu>



