ul{
    width: 200px;
    height: 30px;
}
li:hover{
    background-color:rgb(185, 185, 185);
    cursor: pointer;
}
.mainContext{
display: none;
}
.list-group{
    position: absolute;
}
.all{
    width: 1300px;
    transform: translate(30px,10px);
}
contextmenu{
    color: red;
}